@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4F46E5 !important;
  --primary-color-text: #ffffff;
}


/* Custom overrides */
.p-invalid .p-inputtext {
  @apply border-red-500 ring-red-500;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}